.outer {
  display: flex;
  justify-content: center;
}

.box {
  width: 550px;
  height: 600px;
  border: 10px solid pink;
  margin: 10px;
  text-align: center;
  margin-top: 100px;
}

.mainButtons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

button {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
}

.Win {
  border: 7px solid blue;
  color: blue;
}

.Lose {
  border: 7px solid red;
  color: red;
}

.Tie {
  border: 7px solid black;
}
