.box {
  width: 400px;
  border: 3px solid rgb(205, 52, 205);
  margin-right: 10px;
}

.item-img {
  width: 400px;
}

.outer {
  display: flex;
  justify-content: center;
}

.mainBtn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
